
<html>
        <head>
            <title>Inventory|Add</title>
        </head>
        <body>
            <h1 style='background-color:MediumSeaGreen'><i> Add Product </i></h1>
            <form method="POST" action="/insert">    
                <table border='1' align='center'>
                  <tr>
                      <td style='background-color:LightGray'>Product Name:</td>
                      <td> <input type='text' name='name'> </td>
                  </tr>
                  
                  <tr>
                      <td style='background-color:LightGray'>Price:</td>
                      <td> <input type='number' name='price'> </td>
                  </tr>
                  
                  <tr>
                      <td style='background-color:LightGray'>Quantity:</td>
                      <td> <input type='number' name='quantity'> </td>
                  </tr>
                  
                  <tr>
                      <td style='background-color:LightGray'>Date:</td>
                      <td> <input type='date' name='date'</td>
                  </tr>
                  
                  <tr>
                      <td> <input type='submit' name='send' value='Add Product'</td>
                  </tr>
                </table>
            </form>
        </body>
</html>

